.modal-feedback {
    z-index: 101;
    width: 600px;
    padding: 30px 40px 34px;
    background: #eee url('images/modal-gloss.png') no-repeat -200px -80px;

    .form {
        margin-top: 25px;
        width: 500px;
        border-collapse: collapse;

        td {
            vertical-align: middle;
            padding: 0 5px;
        }

        input,
        textarea,
        select {
            padding: 2px;
            margin: 10px 0;
            width: 250px;
            border: 1px solid #AAA;
        }

        input[type="checkbox"] {
            width: 20px;
        }
    }

    input[type="submit"] {
        margin-top: 15px;
    }

    .form-success-msg {
        color: green;
        padding: 5px;
    }

    .errortext {
        color: red;
    }

    .red {
        color: red;
    }
}

@include screen-down(sm) {
    .modal-feedback {
        width: 400px;
        padding: 30px 20px 34px;

        .form {
            width: 100%;
        }

        .captcha {
            width: 100px;
            height: auto;
        }
    }
}