.fon-1 {
    background: url(images/fon-1.jpg) 50% 0 no-repeat fixed #000;
}

.fon-2 {
    background: url(images/fon-2.jpg) 50% 0 no-repeat fixed #000;
}

.fon-3 {
    background: url(images/fon-3.jpg) 50% 0 no-repeat fixed #000;
}

.fon-4 {
    background: url(images/fon-4.jpg) 50% 0 no-repeat fixed #000;
}

.fon-5 {
    background: url(images/fon-5.jpg) 50% 0 no-repeat fixed #000;
}

.fon-6 {
    background: url(images/fon-6.jpg) 50% 0 no-repeat fixed #000;
}