#page {
    display: table;
    height: 100%;
    margin: 0 auto;
    padding: 15px 0 21px;
    border-collapse: separate;

    @each $breakpoint, $container-max-width in $container-max-widths {
        @include screen-up($breakpoint) {
            width: $container-max-width;
        }
    }

    &_header,
    &_body,
    &_footer {
        display: table-row;

        > .container {
            display: table-cell;
            vertical-align: top;
        }
    }

    &_header {
        height: 150px;
    }

    &_body {
        background: #f9f6f0;
    }

    &_footer {
    }
}