.arrow-links {
    width: 100%;
    margin-bottom: 30px;
    padding-bottom: 0;

    li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 30px;
        padding-bottom: 0;

        a {
            font-family: "Arial", sans-serif;
            font-size: 14px;
            font-weight: bold;
        }

        &:before {
            @include icon('arrow-blue-right');
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

@include screen-down(sm) {
    .sidebar .arrow-links {
        display: none;
    }
}